.svg-tools {
  width: 20px;
  height: 20px;
  fill: $black;
  transition: fill $hover-duration $timing;

  @include d(575) {
    width: 16px;
    height: 16px;
  }

  @include rh(1024) {
    &:hover {
      fill: $primary;
    }
  }
}

.svg-play {
  width: 52px;
  height: 52px;
  fill: $primary;
  transition: fill $hover-duration $timing;

}