.daily {
  &-hero {
    padding-top: 144px;

    @include d(1499) {
      padding-top: 100px;
    }

    @include d(1199) {
      padding-top: 80px;
    }

    @include d(991) {
      padding-top: 60px;
    }

    &__title {

      .title-2,
      & h2 {
        margin-bottom: 100px;

        @include d(1499) {
          margin-bottom: 80px;
        }

        @include d(1199) {
          margin-bottom: 20px;
        }

        @include d(991) {
          margin-bottom: 40px;
        }
      }

      b {
        font-weight: bold;
      }

      p {
        margin-bottom: 20px;
      }
    }

    &__archive {

      .title-5,
      & h5 {
        margin-bottom: 20px;
      }
    }

    &__content {
      padding-top: 60px;
      position: relative;

      &::before {
        content: "";
        width: 1px;
        height: 100vh;
        background-color: $black;
        position: absolute;
        bottom: 0;
        left: 0;

        @include d(991) {
          display: none;
        }
      }

      &::after {
        content: "";
        width: 150vw;
        height: 1px;
        background-color: $black;
        position: absolute;
        bottom: 0;
        right: -50vw;

        @include d(991) {
          display: none;
        }
      }

      p {
        font-weight: 800;

        span {
          color: $primary;
        }
      }
    }

    &__subtitle {
      margin-bottom: 50px;
      padding-left: 30px;

      @include d(991) {
        padding-left: 0;
        margin-bottom: 20px;
      }

      .title-3,
      & h3 {
        margin-bottom: 10px;
      }
    }
  }

}

.video {
  width: 100%;
  height: 560px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include d(768) {
    height: auto;
    padding-bottom: 60%;
  }
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;

  @include rh(1024) {
    &:hover {
      .svg-play {
        fill: $white;
      }
    }
  }
}

.daily-article {

  // padding-top: 100px;
  .title-3,
  & h3 {
    margin-top: 100px;
    margin-bottom: 20px;
    max-width: 940px;

    @include d(1499) {
      margin-top: 80px;
    }

    @include d(1199) {
      margin-top: 60px;
    }

    @include d(991) {
      margin-top: 40px;
    }
  }
}

.blue {
  color: $link;
}

.article {
  padding-bottom: 100px;

  @include d(1199) {
    padding-bottom: 80px;
  }

  @include d(991) {
    padding-bottom: 60px;
  }

  @include d(768) {
    padding-bottom: 40px;
  }

  .video {
    margin: 40px 0;
  }

  &-data {
    font-size: 16px;
    margin-bottom: 20px;

    p {
      font-weight: 800;
    }

    span {
      font-weight: 800;
    }
  }

  &-img,
  & figure {
    margin: 40px 0 50px 0;
  }

  &-side {
    max-width: 420px;
    padding: 0 15px;

    @include d(768) {
      max-width: 100%;
      margin-bottom: 30px;
    }

    b,
    strong,
    span {
      font-weight: 800;
    }

    ul {
      li {
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 1.1em;
      }
    }
  }

  &-columns {
    margin: 40px -15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    @include d(991) {
      margin: 20px -15px;
    }

    b {
      font-weight: 800;
    }

    p {
      margin-bottom: 15px;
      font-size: 18px;

      &.link {
        margin-bottom: 0;
      }
    }
  }

  &-box {

    b,
    strong {
      font-weight: bold;
    }

    p {
      margin: 10px 0 30px;

      @include d(1199) {
        margin: 10px 0 10px;

      }
    }

    &_sm {

      b,
      strong {
        font-weight: bold;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
}

.article-subtitle {
  font-weight: 700;
}

.article-preview {
  margin-bottom: 40px;

  @include d (575) {
    margin-bottom: 20px;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__content {
    a {
      font-weight: 800;
      display: block;
    }
  }
}

.trial {
  background-color: $primary;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: $white;
  width: 100%;

  p {
    position: relative;
    display: inline-block;
    text-transform: uppercase;

    &:before {
      content: "";
      width: 8px;
      height: 8px;
      border-top: 2px solid $white;
      border-right: 2px solid $white;
      position: absolute;
      right: -20px;
      top: 50%;
      transform: rotate(45deg) translate(0, -50%);
    }
  }
}

.calendar {
  font-size: 16px;
}

.datepicker-picker,
.datepicker-header {
  background-color: transparent;

  .button {
    background-color: transparent;
  }
}

.days-of-week {
  color: $gray;
}

.datepicker-grid span {
  color: $black;
  font-weight: 500;
}

.datepicker-cell.next:not(.disabled),
.datepicker-cell.prev:not(.disabled) {
  color: $black;
}

.datepicker-cell .day .selected .focused {
  background-color: $primary;
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: $primary;
}