.main {
  padding-top: 122px;
  @include d(1500) {
    padding-top: 82px;
  }

  @include d(1199) {
    padding-top: 77px;
  }
}

.site-title {
  position: relative;
  opacity: 1;
  transform: translate(0, 0);
  padding: 207px 30px 292px 0;
  transition: transform $duration $timing, opacity $duration $timing;

  @include d(1500) {
    padding: 160px 30px 170px 0;
  }

  @include d(1199) {
    padding: 100px 0 130px 0;
  }

  @include d(768) {
    padding: 80px 0 100px;
  }

  &.hidden {
    transform: translate(30px, 0);
    opacity: 0;
  }
}

.subtitle {
  line-height: 1.4em;
  max-width: 550px;
  margin-bottom: 32px;

  span {
    color: $primary;
  }
}

.hero {
  position: relative;

  &-img,
  &-bg {
    max-width: 50vw;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-img {
    left: calc(50% + 15px);
    background-color: #c4c4c4;
    background-blend-mode: luminosity;
    opacity: .7;
    transform: translate(0, 0);
    transition: transform $duration $timing, opacity $duration $timing;

    @include d(768) {
      max-width: 100vw;
      position: static;
      padding-bottom: 54%;
    }

    &.hidden {
      transform: translate(-30px, 0);
      opacity: 0;
    }
  }

  &-bg {
    opacity: .12;
    left: 0;
  }
}

.performance {
  position: relative;
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity $duration $timing, transform $duration $timing;

  .line-vert {
    @include d(991) {
      &::before {
        display: none;
      }
    }
  }

  &.hidden {
    transform: translate(0, 50px);
    opacity: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 93px 35px 99px 0;

    @include d(1800) {
      padding: 50px 20px 30px 0;
    }

    @include d(1320) {
      padding: 40px 0 30px 0;
    }

    @include d(991) {
      padding: 20px 0;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1em;
    font-weight: 900;
    width: 250px;

    @include d(1800) {
      font-size: 22px;
      width: 200px;
    }

    @include d(1320) {
      font-size: 18px;
      width: 160px;
    }

    @include d(1199) {
      font-size: 16px;
    }

    @include d(400) {
      font-size: 14px;
      width: 130px;
    }

    &:last-of-type {
      width: 100px;
      margin-left: 90px;

      @include d(1800) {
        margin-left: 15px;
      }

      @include d(1199) {
        margin-left: 10px;
        width: 80px;
      }

      @include d(400) {
        width: 50px;
      }

    }
  }

  &__value {
    font-size: 40px;
    line-height: 1em;
    font-weight: 900;
    letter-spacing: 0.08em;
    color: $primary;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $primary;

    @include d(1500) {
      font-size: 30px;
    }

    @include d(1199) {
      font-size: 20px;
    }

    @include d(991) {
      font-size: 36px;
    }

    @include d(575) {
      font-size: 28px;
    }

    @include d(480) {
      font-size: 20px;
    }

    @include d(400) {
      font-size: 16px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include d(991) {
      padding: 40px 0;
    }

    @include d(575) {
      padding: 20px 0;
    }
  }

  &-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 890px;
    width: 100%;
    margin: 0 auto;

    &__item {
      position: relative;
      height: 35px;
      width: 20%;
      margin: 0 10px;

      @include d(575) {
        margin: 0 5px;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: grayscale(1);
        width: auto;

        @include d(1500) {
          width: 100%;
        }

        @include d(991) {
          width: auto;
        }

        @include d(768) {
          width: 100%;
        }
      }
    }
  }
}

.trades {
  &__content {
    padding: 168px 260px 128px 0;

    @include d(1500) {
      padding: 110px 80px 50px 0;
    }

    @include d(991) {
      padding: 60px 15px 10px 0;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    @include d(575) {
      margin: 0 -10px;
    }

    &__item {
      flex: 0 0 33.333%;
      padding: 0 20px;
      margin-bottom: 45px;

      @include d(575) {
        flex: 0 0 50%;
        padding: 0 10px;
      }

      p {
        line-height: 1.3em;
      }
    }
  }

  &__icon {
    max-width: 44px;
    margin-bottom: 5px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #c4c4c4;
    background-blend-mode: luminosity;
    opacity: .6;

    @include d(768) {
      position: static;
      // height: 400px;
      padding-bottom: 60%;
      width: 100vw;
      margin: 0 -15px;
    }
  }

  &__phone {
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(80%, -50%);

    @include d(1500) {
      width: 240px;
      left: -40%;
    }

    @include d(768) {
      display: none;
    }
  }
}

.testimonials {
  padding-top: 157px;

  @include d(1500) {
    padding-top: 100px;
  }

  &-container {
    border: 1px solid $black;
    overflow: hidden;
  }

  .title-2,
  & h2 {
    max-width: 650px;
    margin-bottom: 34px;
  }
}

.tab {
  position: relative;

  &__title {
    display: flex;
    align-items: center;
    flex: 0 0 47%;
    max-width: 47%;
    height: 157px;
    padding: 49px 0 49px 24%;
    text-transform: uppercase;
    position: relative;
    transition: color $hover-duration $timing;
    margin-left: -80px;
    border-right: 1px solid $black;

    @include d(1919) {
      margin-left: -15px;
    }

    @include d(1199) {
      padding: 20px 0 20px 20px;
    }

    @include d(768) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
      border-right: none;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      width: 200%;
      height: 1px;
      background-color: $black;
      bottom: 0;

      @include d(768) {
        bottom: auto;
        top: -1px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 7px;
      height: 0;
      background-color: $primary;

      @include d(768) {
        right: -15px;
      }
    }

    &.open {
      color: $primary;

      &:before {
        height: 100%;
        transition: height $hover-duration $timing;

      }
    }
  }

  &__name {
    font-weight: 500;
    pointer-events: none;
  }

  &__user {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 29px;
    pointer-events: none;
  }

  &__content {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: none;

    @include d(1800) {
      width: 53%;
      right: 0;
    }

    @include d(1500) {
      height: auto;
    }

    @include d(768) {
      position: relative;
      width: 100%;

      &::before {
        content: "";
        // border-bottom: 1px solid #000;
        width: 100vw;
        height: 1px;
        background-color: $black;
        position: absolute;
        bottom: 0;
        left: -15px;
      }
    }

    &.open {
      display: flex;
    }
  }

  &__text {
    max-width: 820px;

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    span {
      font-weight: 700;
    }
  }
}

.banner_sm {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #c4c4c4;
  background-blend-mode: luminosity;
  height: 304px;
  opacity: .5;

  @include d(575) {
    height: auto;
    padding-bottom: 40%;
  }
}

.daily {
  padding-top: 195px;
  padding-bottom: 400px;
  position: relative;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  overflow: hidden;

  @include d(1500) {
    padding-top: 130px;
    padding-bottom: 340px;
  }

  @include d(1199) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  @include d(991) {
    padding-bottom: 0;
  }

  &-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 43vw;
    height: 100%;
    max-height: 430px;
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
    background-blend-mode: luminosity;

    @include d(1199) {
      max-height: 260px;
    }

    @include d(991) {
      position: static;
      padding-bottom: 50%;
      width: 100vw;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 250%;
      background-color: $black;
    }
  }

  &__content {
    max-width: 560px;

    @include d(991) {
      margin-bottom: 60px;
    }

    p {
      line-height: 1.4em;
      margin-bottom: 34px;
    }
  }
}

.best {
  @include d(1199) {
    padding: 40px 0;
  }

  &__title {
    margin-top: 175px;

    @include d(1199) {
      margin-top: 60px;
    }

    .title-2,
    & h2 {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 30px;
    }
  }
}