  <!-- footer start -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-4 col-12">
          <div class="footer__title">
            <a href="/">Carnivore Trading</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-8 col-12">
          <nav class="footer-nav">
            <ul class="footer__list">
              <li><a href="#">Why pay carbivore?</a></li>
              <li><a href="#">glossery</a></li>
              <li><a href="#">TRDRZDNKDTCH 987</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="copyright">Copyright &copy; 2020 Carnivore Trading - All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->