<div class="modal" id="termsModal">
  <h3 class="title-3"> <span>Carnivore Guarantee</span> (“The Guarantee”) – <span>Terms and Conditions</span>.</h3>
  <p>Carnivore Trading LLC (“CT”) guarantees the following: A subscriber will achieve a gross gain in
    their account equal to five times their paid fees or it will refund TWICE the value of said fees. In
    order to qualify for the Guarantee, the subscriber MUST do the following: First, have an
    account of at least $100,000; Second, execute at least 80% of all Carnivore recommended
    trades over a 2 year period; Third, execute those trades on the day of the notice; Fourth, each
    trade must be initiated in an amount equal to at least $$5,000; Fifth, adhere to the Carnivore
    rule of using trailing stop losses on the positions; Sixth, maintain their subscription in good
    standing fully paid for a period of two years. Should a subscriber desire a refund, the refund
    request must be sent by email or letter in writing to the Company after the initial 2-year period
    from the start date of their subscription and attach a complete statement of each trade made
    in the account over the previous two years. After an analysis of the account, Carnivore Trading
    will refund TWICE the amount of the subscribers paid fees if the request qualifies under the
    Terms and Conditions of this Guarantee within 90 days from the date of request being received
    with the required statements of the subscribers’ account. All information will be maintained as
    confidential by Carnivore when received.</p>
</div>