// project colors
$white: #ffffff;
$black: #191919;
$textColor: $black;
$primary: #F76041;
$primaryHover: #F3571A;
$secondary: #3B4ACC;
$success: #21D184;
$error: #FF5C5C;
$link: #3870FF;
$gray-300: #F9F9F9;
$gray-400: #F3F3F3;
$gray-500: #E8E8E8;
$gray-600: #DDDDDD;
$gray-700: #D1D1D1;
$gray-800: #8C8C8C;
// timing
$hover-duration: .4s;
$duration: .8s;
$timing: cubic-bezier(.7, 0, .3, 1);